<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>785822661226-qm7nn6ts6tmi9uim6984v5qf5nufaaqk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.785822661226-qm7nn6ts6tmi9uim6984v5qf5nufaaqk</string>
	<key>API_KEY</key>
	<string>AIzaSyAvcvMIbPfc-Pj68y2-DOZEKsFw-ctgIJ4</string>
	<key>GCM_SENDER_ID</key>
	<string>785822661226</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aditiswadi.airplaneBloc</string>
	<key>PROJECT_ID</key>
	<string>airplane-bloc-7a88b</string>
	<key>STORAGE_BUCKET</key>
	<string>airplane-bloc-7a88b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:785822661226:ios:3fd3851d8b93b511b6a813</string>
</dict>
</plist>